.fq-container > :nth-child(1) {
  margin-top: 100px;
}

.fq-container > :nth-child(2) {
  margin: 30px auto;
  max-width: 400px;
  text-align: center;
}

.fq-container .button {
  margin: 30px auto 60px;
}

.text {
  width: 100%;
  font-size: 15px;
  color: var(--Grayish-Blue);
}

.accordionButton {
  width: 100%;
  padding: 10px;
}

.accordionButton > :nth-child(1) {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  margin-right: 20px;
}

.accordionButton > :nth-child(2) {
  float: right;
  size: 10px;
  line-height: 20px;
}

.accordionItem {
  max-width: 400px;
  background-color: var(--White);
  border-bottom: 1px solid var(--Grayish-Blue);
}

@media (max-width: 375px) {
  .accordionButton > :nth-child(1) {
    flex: 1;
    font-size: 14px;
    font-weight: 500;
  }

  .text {
    width: 100%;
    font-size: 13px;
  }
}
